/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 12, 2015, 8:02:15 PM
    Author     : rtobo
*/
body{
	font-family:calibri;
	background-image: url(images/dark_circles.png);
	padding: 10px 50px 50px 50px;
}

h1{ 
	color: white; 
	text-align: center;
	font-family: Calibri;
	border-radius: 1px;
	border: 1px solid black;
	padding: 2px 3px 2px 3px;
   	background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#0099d1), to(#037aa9));
   	background-image: -webkit-linear-gradient(top, #0099d1, #037aa9);
    	background-image: -moz-linear-gradient(top, #0099d1, #037aa9);
    	background-image: -ms-linear-gradient(top, #0099d1, #037aa9);
    	background-image: -o-linear-gradient(top, #0099d1, #037aa9);
    	background-image: linear-gradient(to bottom, #0099d1, #037aa9);
    	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0099d1, endColorstr=#037aa9);
}

.large.btn {
    	display: block;
	float: none;
    	margin: 10px 0px 20px 5px;
    	padding: 8px;
	border: 1px solid #494949;
    	border-radius: 3px;
    	background-color: #09B2FF;
    	background-image: linear-gradient(0deg, rgba(0,0,0,0.4), transparent);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), inset 0 0 5px 0 rgba(255,255,255,0.2), inset 0 67px 67px -40px rgba(255,255,255,0), 0 2px 0 0 #2e2e2e, 0 3px 6px 0 rgba(0,0,0,0.4);
    	color: rgba(255,255,255,0.9);
    	font-weight: 400;
    	border: none;
    	text-align: center;
    	text-decoration: none;
    	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);

}
.large.btn:hover {
    	box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.15), 
		inset 0 4px 7px -4px rgba(255,255,255,0.7),
		inset 0 56px 47px -41px rgba(255,255,255,0.2),
		0 0 8px -1px rgba(0,0,0,0.85);
}



.bgOpaque {
	background-color: rgba(155,155,155, .5);
	width: 375px;
	height: 20px;
	text-align: center;
	border-radius: 2px;
	margin: 10px;
	border: 2px solid rgba(113,113,113, .3);
}

#topnav{	
	height: 45px;
	width: 1620px;
	margin: 0 0 auto 10;
}


#formDiv{
	width: 300px;
	height: 160px;
	padding: 10px;
	position: relative;
	margin: auto;
	top:20%;
	border: 1px solid rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,.2);	
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.16), 0 3px 15px -1px rgba(0,0,0,0.5);
}

#subDiv{
	display: none;
	margin: 30 auto 30;
    	width: 1200;
    	max-height: 420px;
	color: #A9C1A9;
    	overflow: auto;
    	border: 1px solid rgba(0, 0, 0, 0.5);
    	background-color: rgba(55,55,55,.7);
    	border-radius: 3px;
    	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.16), 0 3px 15px -1px rgba(0,0,0,0.5);
    	padding: 10px;
}

.title {
    padding: 14px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.8) 0px -1px 0px;
    text-align: center;
    border-radius: 7px 7px 0px 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.14902);
    box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px;
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.0980392);
}


.ffield{
	width: 100%;
    	padding: 13px 15px 13px 40px;
    	margin-bottom: 10px;
    	font-size: 16px;
  	font-style: normal;
    	color: white;
    	border: 1px solid rgba(255, 255, 255, 0.2);
    	border-image-source: initial;
    	border-image-slice: initial;
    	border-image-width: initial;
    	border-image-outset: initial;
    	border-image-repeat: initial;
    	border-radius: 4px;
    	box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 15px -2px inset;
    	transition: box-shadow 150ms ease-in-out, border 150ms ease-in-out, background-color 150ms ease-in-out;
    	background-color: rgba(0, 0, 0, 0.14902);
    	background-repeat: no-repeat
}

.ffield.username {
    	background-image: url('images/signin-user.png');
    	background-position: 15px 48%;
    	background-size: 15px auto;
}
.ffield.password {
	background-image: url('images/signin-password.png');
    	background-position: 17px 46%;
    	background-size: 11px auto;
}
.ffield:focus {
    border: 1px solid rgba(66, 116, 201,0.6);
    background-color: rgba(0,0,0,0.3);
    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0),
        inset 0 3px 10px -5px rgba(0,0,0,0.4),
        0 0 10px 0 rgba(66, 116, 201,0.6);
}



/* created by rtobo */	