/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
		Created on : Jul 19, 2017, 8:02:15 PM
		Author		 : rtobo
*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    max-height: 100%;
}

body {
    height:90%;
    min-width: 100%;
    max-width: 100%;
    font-family: Calibri;
    background-image: url(images/dark_circles.png);
    background-repeat: repeat;
}

.pBody{
    min-width:100%;
    max-width:100%;
    background: white;
}

.left-div {
    height:100%;
    max-height:100%;
    /*width: 15%;*/
    max-width: 15%;
    overflow-x:hidden;
    overflow-y:auto;
    float: left;
    margin: 10px;
    margin-top: 0px;
    margin-right: 0px;
}
.right-div{
    height:100%;
    width:83%;
    max-width:83%;
    float: left;
   /* margin: 10px;*/
}
h1 {
    color: black;
    font-size: 24px;
    padding: 1px;
    text-align: center;
    font-family: Calibri;
}

h2 {
    height: 8px;
    margin-top: 3px;
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: Calibri;
    display: inline-block;
}

h3 {
    min-width: 50%;
    margin: 6px;
    text-align: center;
    border: 1px solid #616261;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 14px;
    font-family: calibri;
    padding: 2px;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #7d7e7d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0099d1), to(#037AA9));
    background-image: -webkit-linear-gradient(top, #0099d1, #037AA9);
    background-image: -moz-linear-gradient(top, #0099d1, #037AA9);
    background-image: -ms-linear-gradient(top, #0099d1, #037AA9);
    background-image: -o-linear-gradient(top, #0099d1, #037AA9);
    background-image: linear-gradient(to bottom, #0099d1, #037AA9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0099d1, endColorstr=#037AA9);
}


h4 {
    color: #FFFFF2;
    padding: 1px;
    text-align: center;
    font-family: Calibri;
}

#resultTb1{
    /*width: 95%;*/
    max-width: 100%;
}

#resultDiv{
    width:100%;
    max-width: 100%;
    overflow-x: hidden;
}

#resultDivSales{
    width:100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 250px;
    margin-top: 18px;
    background-image: linear-gradient(to bottom, #525252, transparent 50%); 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    text-align: center;
    color: whitesmoke;
    padding-top: 10px;
}

table {
    table-layout: fixed;
    background-color: #DCDCE4;
    overflow: auto;
    /*white-space: nowrap;*/
    word-wrap: break-word;
    text-align: center;
    border: 1px solid black;
    font-family: Calibri;
    font-size: 10px;
    border-spacing: 0px 1.5px;
    border-radius: 2px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

td {
    max-width:400px;
    word-wrap: break-word;
    border-radius: 1px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    padding: 3px;
    font-family: Calibri;
    font-size: 12px;
    min-width: 60px;
}

tr {
    min-width: 600px;
}

th {
    color: white;
    text-align: center;
    font-family: Calibri;
    border-radius: 1px;
    font-size: 12px;
    margin-bottom: 0;
    background-color: #7d7e7d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0099d1), to(#037aa9));
    background-image: -webkit-linear-gradient(top, #0099d1, #037aa9);
    background-image: -moz-linear-gradient(top, #0099d1, #037aa9);
    background-image: -ms-linear-gradient(top, #0099d1, #037aa9);
    background-image: -o-linear-gradient(top, #0099d1, #037aa9);
    background-image: linear-gradient(to bottom, #0099d1, #037aa9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0099d1, endColorstr=#037aa9);
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #C8E2FF;
}

table caption
{
  border: 1px solid #ddd;
  margin-bottom: -2px;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 12px;
  font-weight: bold;
  background-color: #C8E2FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#top{
    width:100%;
    max-width: 100%;
}
h1 {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 7px;
    font-family: Calibri;
    vertical-align: middle;
}

table thead tr td {
    background: -o-linear-gradient(bottom, #0099d1 5%, #037AA9 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0099d1), color-stop(1, #037AA9));
    background: -moz-linear-gradient( center top, #0099d1 5%, #037AA9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0099d1", endColorstr="#037AA9");
    background: -o-linear-gradient(top, #0099d1, 037AA9);
    background-color: #0099d1;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Calibri;
    font-weight: bold;
    color: #ffffff;
    word-wrap: normal;
    white-space: nowrap;
}

.midTh {
    background-color: #0086D2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#619AC8), to(#659CDA));
    background-image: -webkit-linear-gradient(top, #619AC8, #659CDA);
    background-image: -moz-linear-gradient(top, #619AC8, #659CDA);
    background-image: -ms-linear-gradient(top, #619AC8, #659CDA);
    background-image: -o-linear-gradient(top, #619AC8, #659CDA);
    background-image: linear-gradient(to bottom, #619AC8, #659CDA);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#619AC8, endColorstr=#659CDA);
}

tr.bgRow {
    background-color: white;
    white-space: nowrap;
    overflow-x: auto;
    width: 2210;
    height: auto;
    display: block;
}

.wrapper {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    /*height: auto !important;*/
    height: 100%;
    margin: 0 auto -170px;
}

.footer {
    height: 170px;
    width: 2120;
}

.bgOpaque {
    background-color: rgba(155, 155, 155, .5);
    width: 2120;
    padding: 3px;
    border-radius: 2px;
    margin: 0px;
    border: 2px solid rgba(113, 113, 113, .3);
}

#bLinks {
    list-style: none;
    margin-top: 15px;
    display: inline-block;
}

#bLinks > li > a > img {
    position:absolute;
    top:50%;
    min-height:70%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}

#load {
    z-index: 9999;
    background: url(images/loader.gif) no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    display: none;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: calibri;
    color: #ffffff;
    font-size: 12px;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#bottomMenu {
    margin: 0px auto;
    border: none;
    width: 650px;
    border-radius: 3px;
    padding-bottom: 10px;
}

nav {
    width:100%;
    font-family: Calibri;
    font-size: 10px;
    line-height: 1;
    margin: 5 0 0 10;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-item {
    width: 100%;
}


/*Menu Header Styles*/

.menu-item h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 8px;
    /*Gradient*/
    background: #037AA9;
    /* Old browsers */
    background: -moz-linear-gradient(top, #037AA9 0%, #0575A9 44%, #036B94 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #037AA9), color-stop(44%, #0575A9), color-stop(100%, #036B94));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #037AA9 0%, #0575A9 44%, #036B94 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #037AA9 0%, #0575A9 44%, #036B94 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #037AA9 0%, #0575A9 44%, #036B94 100%);
    /* IE10+ */
    background: linear-gradient(top, #037AA9 0%, #0575A9 44%, #036B94 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#037AA9', endColorstr='#036B94', GradientType=0);
    /* IE6-9 */
}

.menu-item:first-of-type h4 {
    border-radius: 5px 5px 0px 0px;
}

.menu-item h4:hover {
    cursor: pointer;
    background: #195998;
    /* Old browsers */
    background: -moz-linear-gradient(top, #195998 0%, #004E6D 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #195998), color-stop(100%, #004E6D));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #195998 0%, #004E6D 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #195998 0%, #004E6D 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #195998 0%, #004E6D 100%);
    /* IE10+ */
    background: linear-gradient(top, #195998 0%, #004E6D 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#195998', endColorstr='#004E6D', GradientType=0);
    /* IE6-9 */
}

.menu-item h4 a {
    color: white;
    display: block;
    text-decoration: none;
    width: 192px;
}


/*ul Styles*/

.menu-item ul {
    background: #fff;
    font-size: 13px;
    cursor: pointer;
    line-height: 30px;
    /*height: 0px;*/
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
        /*Animation*/
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    /*transition: height 1s linear;*/
    
    max-height: 0px;
    overflow: hidden;
    /*-webkit-transition: max-height 0.8s;*/
    transition: min-height 0.5s;
    /*transition:         all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);*/
    
    
    
}

.menu-item:hover ul {
    /* height: auto; */
}

.menu-item.active ul {
    height: auto;
    max-height: 1000px;
    /*transition: max-height 1s;*/
    transition:         all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu-item ul a, .menu-item ul form {
    font-size: 12px;
    text-decoration: none;
    color: #4B4B4B;
    width: 200px;
}


/*li Styles*/

.menu-item li {
    border-bottom: 1px solid #eee;
    padding-left: 10px;
}

.menu-item li:hover {
    background: #eee;
}


/*First Item Styles*/

.alpha p {
    padding: 8px 12px;
    color: #aaa;
}

.alpha p a {
    color: #aaa;
    font-style: italic;
}

.alpha p a:hover {
    color: #ccc;
}

input[type=submit] {
    padding: 5px 0px;
    background: #ccc;
    border: 0 none;
    font-family: calibri;
    font-size: 12px;
    cursor: pointer;
    width: 25px;
    -webkit-border-radius: 360px;
    border-radius: 360px;
}

input#print_button 
{
    font-size: 10px;
    padding: 3px;
    width: auto;
    float: right;
}

input[type=text] {
    width: 158;
    margin-right: 2px;
}

.homeDiv {
    width: 33%;
    height: 50%;
    border: 1px solid #616261;
    border-radius: 6px;
    float: left;
    overflow: hidden;
    background: rgba(255, 255, 255, .9);
    margin: 1px;
}

.inDiv {
    width: 124%;
    height: 124%;
    -ms-zoom: 0.8;
    -moz-transform: scale(0.8);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.8);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
}

.title 
{
    text-align: center;
    /*min-width: 1600px;*/
    width: 93.5%;
    margin: 5px;
    padding: 5px 40px 5px 40px;
    border: 1px solid #494949;
    border-radius: 5px;
    background-color: #555;
    background-image: linear-gradient(to right, #525252, white, #525252 14%);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), inset 0 0 5px 0 rgba(255, 255, 255, 0.2), inset 0 67px 67px -40px rgba(255, 255, 255, 0), 0 2px 0 0 #2e2e2e, 0 3px 6px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow 230ms ease-in-out, transform 230ms ease-in-out, border-color 230ms ease-in-out;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: x-large !important;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -2px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    cursor: pointer;
    display: table;
}

.targetFrame
{
    width:100%;
    height: 100%;
    overflow-x:hidden;
    scroll: no;
    border:none;
    border-radius: 5px;
}

.tf_image_logo 
{
    width: 100px;
    height: 35px;
    float: left;
}

p 
{
  margin: auto;
  display: table-cell;
  padding-right: 50px;
}

#localDebugQuery1, #localDebugQuery2
{
    color: white;
    background: orange;
    /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);*/
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: calibri;
    font-size: 12px;
    padding: 3px 10px 3px 10px;
    margin: 5px;
    text-decoration: none;
    display: none;
}

[id^='errorPage']
{
    color: #F00;
    margin-top: 15px;
    margin-bottom: 15px;
}